<div width="200px">
        <ngx-datatable
        #mydatatable
        class="material"
        [headerHeight]="50"
        [limit]="5"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="rows"
        [columns]="columns"
        [count] = "page.totalElements"
        [offset] = "page.pageNumber"
        [limit] = "page.size"
        (page)='setPage($event)'
        >
        <!-- <ngx-datatable-column name="Accumulated Turnover" prop ="accumulated_turnover">
        </ngx-datatable-column>
        <ngx-datatable-column name="Account Executive">
        </ngx-datatable-column>
        <ngx-datatable-column name="Daily Turnover">
        </ngx-datatable-column> 
    
        
        [externalPaging]="true"
        [count] = "page.totalElements"
        [offset] = "page.pageNumber"
        [limit] = "page.size"
        (page)='setPage($event)'
    -->
    </ngx-datatable>
</div>